<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img height="30" width="30" src="/images/twitter.png" alt=""/>    
    </a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="btn btn-primary btn-tweet mr-3" href="/tweets/new"> Tweet </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Connexion </a>
            </li>
        </ul>
    </div>
</nav>