<script src="/javascripts/tweets/tweet.js"></script>
{{#if tweets}}
    {{#each tweets}}
    <div class="card tweet-element b">
        <div class="card-body">
            <div class="card-text">
                {{ content }}
            </div>
            <button class="btn-danger mt-2 float-right" tweetId={{ _id }}> Delete </button>        
        </div>
    </div>
    {{/each}}
{{/if}}