<script src="/javascripts/tweets/tweet.js"></script>
{{#if tweets}}
    {{#each tweets}}
    <div class="card tweet-element">
        <div class="card-body">
            <a class="card-text" href="tweets/edit/{{ _id }}">
                {{ content }}
            </a>      
            <button class="btn-danger mt-2 mx-1 float-right" tweetId={{ _id }}>x</button>  
        </div>
    </div>
    {{/each}}
{{/if}}