<div class="content">
  <div class="d-flex flex-row content mx-auto">
    <div class="profile-container">
      {{> profile }}
    </div>
    <div class="flex-fill">
      <form class="card" method="POST" action="/tweets/" >
        <div class="card-header">
          Write a tweet
        </div>
        <div class="card-body">
          <div class="form-group"> 
            <textarea class="form-control" name="content" placeholder="What is happening"></textarea>
          </div>
          {{#if errors }}
            <ul class="my-2">
              {{#each errors}}
              <li class="text-danger">{{ . }}</li>
              {{/each}}
            </ul>
          {{/if}}
          <div class="w-100">
            <input type="submit" value="send" class="btn btn-primary ml-auto d-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>