
<div class="content">        
    <div>
        <div class="d-flex flex-row content b1 mx-auto">
            <div class="profile-container">
                {{> profile }}
            </div>
            <div class="flex-fill d-flex flex-column" id="tweet-list-container">
                {{> tweet-list }}
            </div>
        </div>
    </div>
</div>



