
<div class="content">        
    <div>
        <div class="d-flex flex-row content b1 mx-auto">
            <div class="profile-container b">
                {{> profile }}
            </div>
            <div class="flex-fill b">
                tweets
            </div>
        </div>
    </div>
</div>


